<h1>Pages#contact</h1>
<div class="col-md-6">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3576.3193267418537!2d-81.8018973!3d26.316157500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88db190d1562eb5d%3A0x73694ba172cfd338!2s1295+Sweetwater+Cove%2C+Naples%2C+FL+34110!5e0!3m2!1sen!2sus!4v1493745133257" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<?div>

<p><a href="mailto:Marineepo@gmail.com?subject=PortfolioContact" "email me".Email me</a> </p>
<p><%= number_to_phone "5555555" %></p>
